<form class="login-form" action="/signup" method="POST">
  <div class="form-control mb-2">
    <label class="pe-3" for="email">Email</label>
    <input type="email" class="ms-4" name="email" id="email" />
  </div>
  <div class="form-control">
    <label for="password" class="me-2">Password</label>
    <input type="password" name="password" id="password" />
  </div>
  <!-- <div class="form-control">
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" name="confirmPassword" id="confirmPassword" />
  </div> -->
  <button class="btn" type="submit">Signup</button>
</form>
